/**********************************/

.Container--centered {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}

.fullHeight {
  min-height: 100vh;
}

.Auth__container {
  max-width: 500px;
  width: 90%;
  margin: 5px;
  border-radius: 5px;
  user-select: none;
  padding-bottom: 10px;
  background-color: transparent;
}

.Auth__heading {
  font-weight: bold;
  color: rgb(0, 61, 0);
  display: flex;
  align-items: center;
  font-size: 16px;
  gap: 10px;
}

.Auth__content {
  padding: 10px;
  margin: 0 auto;
}

.Auth__userType {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.Auth__userTypeItem {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  font-size: 18px;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(206, 205, 205);
  margin: 5px;
  cursor: pointer;
}
.Auth__userTypeItem span:first-child i {
  font-size: 24px;
}
.Auth__userTypeItem span:nth-child(2) {
  white-space: nowrap;
}

.Auth__userTypeItem--selected {
  background-color: rgb(0, 61, 0);
  color: white;
}

.Auth__formItems {
  padding-top: 10px;
}

.Auth__formItem {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  margin-top: 10px;
}
.Auth__formItem label {
  color: rgb(1, 100, 1);
  font-weight: bold;
}
.Auth__formItem label:last-child {
  font-size: 11px;
  color: black;
  font-weight: 600;
}
.Auth__formItem input {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #e29e2a52;
  font-size: 16px;
}
.Auth__formItem input:focus {
  outline: none;
}

.Auth__formItem--modal {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.Auth__formItem--modal span {
  background-color: rgb(1, 100, 1);
  color: white;
  margin-top: 2px;
  padding: 5px;
  border-radius: 5px;
  font-size: 13px;
  cursor: pointer;
}
.Auth__formItem--modal span i {
  margin-right: 5px;
}

.Auth__formItem--number {
  display: flex;
  align-items: center;
  position: relative;
}
.Auth__formItem--number input {
  width: 100%;
  padding-left: 45px;
}
.Auth__formItem--number span {
  position: absolute;
  left: 0;
  cursor: pointer;
  font-size: 18px;
  background-color: rgb(238, 237, 237);
  height: 90%;
  width: 40px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  border: 2px solid #e29e2a34;
  border-right: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Auth__formItem--number i {
  position: absolute;
  right: 0;
  color: rgb(6, 168, 6);
  font-size: 18px;
  margin-right: 10px;
}

.Auth__formItem--password {
  display: flex;
  align-items: center;
  position: relative;
}
.Auth__formItem--password input {
  width: 100%;
}
.Auth__formItem--password i {
  position: absolute;
  right: 0;
  margin-right: 10px;
  cursor: pointer;
  font-size: 18px;
}

.Auth__submitButton {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  background-color: #e29f2a;
  color: white;
  font-weight: bold;
}

.Auth--nav {
  margin-top: 10px;
}
.Auth--nav a {
  color: rgb(0, 61, 0);
  font-weight: bold;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.Auth__TandC {
  font-size: 11px;
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.Auth__TandC input {
  cursor: pointer;
}

/* modal popup */
.Auth__modalPopup {
  position: fixed;
  z-index: 10;
}

.Auth__modalPopup--backdrop {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
}

.Auth__modalPopup--content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  max-width: 300px;
  width: 80%;
}

.Auth__modalPopup--header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.Auth__modalPopup--header span {
  color: rgb(1, 100, 1);
  font-weight: bold;
}

.Auth__modalPopup--body {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.Auth__modalPopup--body--text {
  display: flex;
  flex-wrap: wrap;
}
.Auth__modalPopup--body--text span {
  white-space: nowrap;
}

.Auth__modalPopup--body--input {
  display: flex;
  margin-top: 20px;
  max-width: 300px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.Auth__modalPopup--body--input input {
  border-radius: 5px;
  border: 2px solid #e29e2a52;
  font-size: 16px;
  width: 100%;
  padding: 10px;
}
.Auth__modalPopup--body--input button {
  position: absolute;
  right: 0;
  border: none;
  background-color: rgb(1, 100, 1);
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}
