.splash-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rentaday {
  color: #e2a02b;
}
.splashlogo {
  width: 80px;
  height: 80px;
}
.splash-header .header_icon {
  width: 80%;
  align-items: center;
  text-align: center;
}
.splash-header .splash-signin {
  display: none;
}
.splash-mainbody {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/Banner.jpeg);

  background-size: cover;
  width: 100vw;
  height: 100vh;
  color: white;
}
.splash-mainbody > * {
  padding: 20px;
  margin-top: 0;
}

.splash-mainbody .splash-intro {
  text-align: center;
  font-size: 23px;
  font-weight: 700;
  line-height: 27px;
  position: relative;
  top: 50px;
}
.splash-mainbody .splash-intro1 {
  text-align: center;
  font-size: 15px;
  font-weight: 500px;
  line-height: 18.15px;
  position: relative;
  top: 70px;
}
.splash-features {
  display: grid;
  grid-template-rows: auto auto auto auto;
  font-size: 15px;
  font-weight: 500px;
  line-height: 18.15px;
  position: relative;
  top: 70px;
}
.splash-features > * {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.splash-click {
  text-align: center;
  padding: 0;
}
.splash-click button {
  background-color: #e2a02b;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  width: 190px;
  height: 51px;
  cursor: pointer;
  color: black;
  position: relative;
  top: 90px;
  border-radius: 50px;
}
@media screen and (min-width: 928px) {
  .splash-features {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .splash-features > * {
    margin: 25px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
  }
  .splash-mainbody .splash-intro {
    font-size: 34px;
    font-weight: 700;
  }
  .splash-mainbody .splash-intro1 {
    font-weight: 400;
    line-height: 29px;
  }
  .splashlogo {
    width: 100px;
    height: 100px;
  }
}
