.header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  align-items: center;
  z-index: 100;
  background-color: white;
  margin: 0 10px;
}
.header_center {
  display: flex;
}
.header_nav {
  display: flex;
  align-items: center;
}
.header_nav > * {
  padding: 20px;
  white-space: nowrap;
}
/* Image-logo */
.image-logo {
  object-fit: contain;
  height: 80px;
}

/* Nav Button CSS */
.Home_Button_Nav {
  padding: 5px;
}
.header a {
  text-decoration: none;
  color: #2a4b3d;
}
.home_auth_nav {
  padding: 20px;
}
.home_auth_nav a:last-child {
  font-weight: bold;
}
.profile-button {
  /* background-color: #2a4b3d; RentADay Green */
  border: 2px solid #2a4b3d;
  border-radius: 50px;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  display: flex;
  align-items: center;
}
.profile-button img {
  border-radius: 50px;
  height: 40px;
  width: 40px;
  object-fit: cover;
}
.profile-button a {
  text-transform: capitalize;
}

.button_nav:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 700px) {
  .header {
    display: none;
  }
}

@media screen and (max-width: 770px) {
  .header_nav {
    display: none;
  }
}
@media screen and (max-width: 875px) {
  .header_nav > * {
    padding: 20px 10px;
  }
}
