.header {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  align-items: center;
  z-index: 100;
  width: 100%;
  background-color: white;
}
.header_icon {
  width: 50%;
  margin-left: 40px;
}
.header_center {
  display: flex;
}
.header_center > * {
  padding: 20px;
}
/* Image-logo */
.image-logo {
  object-fit: contain;
  height: 80px;
}

/* Nav Button CSS */
.Home_Button_Nav {
  padding: 5px;
}
.header a {
  text-decoration: none;
  color: #2a4b3d;
}
.profile-button {
  /* background-color: #2a4b3d; RentADay Green */
  border: 2px solid #2a4b3d;
  border-radius: 50px;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  display: flex;
  align-items: center;
}
.profile-button img {
  border-radius: 50px;
  height: 40px;
  width: 40px;
  object-fit: cover;
}

.button_nav:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 700px) {
  .Home_Listing_Nav,
  .Home_Search_Nav,
  .Home_Setting_Nav,
  .Home_Search_Nav {
    display: none;
  }
}
