.container--xl {
  width: 100%;
  max-width: 1400px;
  padding: 10px;
  margin: 0 auto;
}
.Images__container {
  padding-top: 20px;
  position: relative;
  max-width: 1100px;
  margin: 0px auto;
  padding-bottom: 40px;
}
.placeImages--grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, minmax(0, 1fr));
  grid-gap: 5px;
  margin-top: 5px;
  overflow: hidden;
}
.gridImage1 {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}
.placeImages--grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.placeImages--button {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
}
.placeImages--button button {
  font-size: 10px;
  font-weight: bold;
}

/* place details */
.PlaceDetails__body {
  padding: 20px;
}
.PlaceDetails {
  display: flex;
  flex-direction: column;
}

.PlaceDetails__filter {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  align-items: center;
}

.PlaceDetails__bookingform {
  width: 90%;
  max-width: 480px;
  border: 1px solid rgb(230, 230, 230);
  padding: 20px;
  border-radius: 10px;
}

.bookingRange {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bookingRange .bookingPrice span:first-child {
  font-size: 24px;
  font-weight: bold;
}
.bookingHours {
  font-size: 18px;
  color: rgb(105, 105, 105);
  font-weight: 500;
}
.bookingDate {
  margin-top: 30px;
}
.bookingDate--input {
  display: flex;
  justify-content: space-between;
}
.bookingDate--input span {
  font-size: 20px;
  font-weight: 500;
}
.bookingDate--input input {
  color: black;
  padding: 5px;
  border: 1px solid rgb(196, 194, 194);
  border-radius: 5px;
}
.bookingTime {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.bookingTime--input span {
  font-size: 20px;
  font-weight: 500;
  margin-right: 10px;
}
.bookingTime--input input {
  width: 120px;
  color: black;
  padding: 5px;
  border: 1px solid rgb(196, 194, 194);
  border-radius: 5px;
}
.bookingButton {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bookingButton button {
  width: 80%;
  padding: 5px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
}
.bookingDetails {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  font-size: 18px;
  color: rgb(105, 105, 105);
}

.PlaceDetails__header {
  display: flex;
  gap: 20px;
  align-items: center;
}
.PlaceDetails__header--image img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.PlaceDetails__header--title h6:first-child {
  font-size: 20px;
  font-weight: bold;
}
.PlaceDetails__header--title h6:last-child {
  font-size: 18px;
  color: gray;
  margin-bottom: 0;
}

.PlaceDetails__table {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.PlaceDetails__table--row {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.PlaceDetails__table--row h5 {
  white-space: nowrap;
}

.PlaceDetails__map {
  margin-top: 30px;
}

/* review styles */
.PlaceDetails__reviews--container {
  margin-top: 30px;
  max-height: 500px;
  overflow-y: scroll;
}
.reviewCard {
  display: flex;
  gap: 30px;
  align-items: center;
  max-width: 900px;
  padding: 5px;
  margin: 0px auto;
}
.reviewCard__user {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reviewCard__user img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
}
.reviewCard__body {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.reviewCard__body--header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.reviewCard__body--header--date {
  color: gray;
  font-weight: bold;
  white-space: nowrap;
}
.reviewCard__body--header--rating {
  white-space: nowrap;
}
.reviewCard__body p {
  font-size: 14px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}


@media screen and (min-width: 700px) {
  .Images__container {
    padding-bottom: 0;
  }
  .placeImages--button button {
    font-size: 14px;
    font-weight: normal;
  }
  .placeImages--grid {
    grid-template-rows: repeat(2, 200px);
  }
  .PlaceDetails__table {
    padding: 20px;
  }
}
@media screen and (min-width: 1000px) {
  .PlaceDetails {
    flex-direction: row;
  }
  .PlaceDetails__body {
    width: 60%;
  }
  .PlaceDetails__filter {
    width: 40%;
  }
}
