.desktop__nav {
  display: flex;
  align-items: center;
  font-size: 20px;
  width: 100%;
}
.desktop__nav .heading {
  font-weight: bold;
}
.desktop__nav i {
  margin: 0 10px 0 10px;
}
.desktop__nav a {
  color: inherit;
  text-decoration: none;
}
.desktop__nav--page {
  margin-left: 10px;
}
@media screen and (max-width: 700px) {
  .desktop__nav {
    display: none;
  }
}
